/* Add this to your CSS or style file */

.row {
  display: flex;
  overflow: hidden;
}

/* TestimonialCss.css */

.card-slide {
  transition: transform 0.5s ease;
}

.card-slide.active {
  transform: translateX(0);
}

.card-slide.next {
  transform: translateX(100%);
}

.card-slide.prev {
  transform: translateX(-100%);
}
